.static-content{
    height: 150px;
    width: 90%;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
    border: 1px solid #ebebeb;
}

.first-box{
    width: 100%;
    height: 150px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.static-lable{
    padding-left: 20px;
}
.static-title{
    font-size: 16px !important;
  margin-bottom: inherit;

}
.static-para{
  padding: 0px ;
  color: #666;
    font-size: 13px;
}
.second-box{
    width: 100%;
    height: 150px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.third-box{
    width: 100%;
    height: 150px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.fourth-box{
    width: 100%;
    height: 150px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
@media only screen and (max-width: 600px) {
    .static-content{
    height: 400px;
    width: 100%;
    width: 90%;
 margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
    border: 1px solid #ebebeb;
}

.first-box{
    width: 100%;
       height: 100px;
   padding-right: 5%;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.second-box{
    width: 100%;
   height: 100px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.third-box{
    width: 100%;
      height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 4%;
}
.fourth-box{
    width: 100%;
      height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
     padding-right: 5%;
}
.static-title{
    font-size: 16px !important;
  margin-bottom: inherit;

}
.static-para{
  padding: 0px ;
  color: #666;
    font-size: 13px;
}
.firststatic-lable{
      margin-top: 5%;
    padding-left: 10px;
}
.secondstatic-lable{
    margin-top: 5%;
    padding-left: 10px;
}
.thirdstatic-lable{
  padding-left: 10px;
    margin-top: 5%;
}
.fourthstatic-lable{
    padding-left: 10px;
     margin-top: 5%;
}
}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 600px) {

       .static-content{
    height: 200px;
    width: 100%;
    width: 90%;
 margin: auto;
   margin-top: 50px;

   margin-bottom: 50px;
    border: 1px solid #ebebeb;
}
.first-box{
    width: 100%;
       height: 100px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.second-box{
    width: 100%;
   height: 100px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.third-box{
    width: 100%;
      height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.fourth-box{
    width: 100%;
      height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
}

@media only screen and (min-width: 768px) {
      .static-content{
    height: 200px;
    width: 100%;
     margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
    border: 1px solid #ebebeb;
}

.firststatic-lable{
      margin-top: 5%;
    padding-left: 10px;
}
.secondstatic-lable{
    margin-top: 5%;
    padding-left: 10px;
}
.thirdstatic-lable{
  padding-left: 10px;
    margin-top: 6%;
}
.fourthstatic-lable{
    padding-left: 10px;
     margin-top: 5%;
}
.first-box{
    width: 100%;
       height: 100px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.second-box{
    width: 100%;
   height: 100px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.third-box{
    width: 100%;
      height: 100px;
    align-items: center;
    display: flex;
    padding-left: 25px;
    justify-content: center;
    
}
.fourth-box{
    width: 100%;
      height: 100px;
    align-items: center;
    display: flex;
    padding-right: 20px;
    justify-content: center;
    
}
}

@media only screen and (min-width: 992px) {
         .static-content{
    height: 100px;
    width: 100%;
     margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
    border: 1px solid #ebebeb;
}
.static-title {
    font-size: 15px !important;
    margin-bottom: inherit;
}
/* .firststatic-lable{
      margin-top: 10%;
    padding-left: 10px;
}
.secondstatic-lable{
    margin-top: 10%;
    padding-left: 10px;
}
.thirdstatic-lable{
  padding-left: 10px;
    margin-top: 15%;
}
.fourthstatic-lable{
    padding-left: 10px;
     margin-top: 10%;
} */
.first-box{
    width: 100%;
       height: 100px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.second-box{
    width: 100%;
   height: 100px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.third-box{
    width: 100%;
      height: 100px;
    align-items: center;
    display: flex;
    padding-left: 25px;
    justify-content: center;
    
}
.fourth-box{
    width: 100%;
      height: 100px;
    align-items: center;
    display: flex;
    padding-right: 20px;
    justify-content: center;
    
}
}

@media only screen and (min-width : 1200px) {
        /* .static-content{
    height: 150px;
    width: 100%;
     margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
    border: 1px solid #ebebeb;
}
.static-title {
    font-size: 13px !important;
    margin-bottom: inherit;
}
.firststatic-lable{
      margin-top: 10%;
    padding-left: 10px;
}
.secondstatic-lable{
    margin-top: 10%;
    padding-left: 10px;
}
.thirdstatic-lable{
  padding-left: 10px;
    margin-top: 15%;
}
.fourthstatic-lable{
    padding-left: 10px;
     margin-top: 10%;
}
.first-box{
    width: 100%;
       height: 100px;

    align-items: center;
    display: flex;
    justify-content: center;
    
}
.second-box{
    width: 100%;
   height: 100px;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.third-box{
    width: 100%;
      height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.fourth-box{
    width: 100%;
      height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    
} */
}

@media only screen and (min-width : 1366px) {
  .thirdstatic-lable {
    padding-left: 10px;
    margin-top: 7%;
}
.static-para{
  font-size: 14px;
}
}

@media only screen and (min-width : 1440px) {}

@media only screen and (min-width : 1600px) {}

@media only screen and (min-width : 1920px) {}