 
.logo-content{
    background-image: url(./navbar.img/logo1.webp) ;
    width: 20%;
    height: 50px;
    background-repeat: no-repeat;
    
 
}
.navbar-content{
  padding-top: 20px !important;
  margin: auto;
}
#middle-nav-dropdown{
    
    color: rgb(18, 17, 17);
    font-weight: 500;
    padding: 0px 30px 0px 0px ;
    
    
}
#middle-nav-dropdown:hover{
    color: #198754;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    margin-top: var(--bs-dropdown-spacer);
    height: auto;
    
    border: none;
    margin-right: 0px;
    box-shadow:  0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
/* content */
.contact-content{

    color: rgb(18, 17, 17);
    font-weight: 600;
    padding: 0px 30px 0px 0px ;
}
.contact-content:hover{
    color: #198754;
}
.image-content{
    position: relative;

    padding-left:40px ;
   
    background-repeat: no-repeat;
    background-image: url(./navbar.img/download.png);
}
.contact-number{
    font-size: 15px;
    color: black;
    font-weight: 700;
    
}
.contact-number:hover{
    color: #198754;
}
.call-content{
    padding-left: 20px !important;
}
/* rs */
.amount-content{
    color:rgb(18, 17, 17);
    font-weight: 600;
    font-size: 25px;
}

.amount-content:hover{
    color: #198754;
}
.shoppingbag{
    font-size: 25px !important;
    color: rgb(32, 28, 28) !important;
    
}
.shoppingbag:hover{
    color: #198754 !important;
}
/* search */
.searchicon{
    font-size: 40px !important;
   
}
.searchicon:hover{
    color: #198754;
}
.search-containt{
    display: flex;
    height: 30px;
    visibility: hidden;
}
.navdrop-divider{
    width: 80%;
    margin: auto;
    
    /*home  */
}
.action-home{
    color: black;
    display: flex;
    justify-content: space-between;
}
.action-home:hover{
    color: #198754 !important;
}
.arrowforwardicion{
    font-size: 20px !important;
    padding-top: 7px;
}
.arrowforwardicion:hover{
    color: #198754;
}


/* shop */
.card-content{
    width: 50rem;
    
}
.listgroup-content{
    justify-content: space-between;
    display: flex;
}
.card-img{
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
    background-image: url(./navbar.img/banner-menu.webp);
    
}

.shop-item{
    border: none !important;

}
.shop-title{
    font-size: 20px;
    font-weight: 500;
}
.shop-title:hover{
    color: #198754;
   
}
.shop-opction{
    font-size: 15px;
    color: #A8AEB0;
  transition-duration: .4s;
  transition-delay: .1s;
    
}
.shop-opction:hover{
    color: #198754;
    padding-left: 10px;
    box-sizing: border-box !important;
}
/* page */

.page-uses{
    color: #A8AEB0;
      transition-duration: .4s;
  transition-delay: .1s;
}
.page-uses:hover{
    color: #198754;
    padding-left: 10px;
}
.page-lists{
    width: 15rem;
}






@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width : 1200px) {}

@media only screen and (min-width : 1366px) {}

@media only screen and (min-width : 1440px) {}

@media only screen and (min-width : 1600px) {}

@media only screen and (min-width : 1920px) {}