 
.logo-content{
    background-image: url(./navbar.img/logo1.webp) ;
    width: 20%;
    height: 50px;
    background-repeat: no-repeat;
    
 
}
.navbar-content{
  padding-top: 20px !important;
  margin: auto;
}
#middle-nav-dropdown{
    
    color: rgb(18, 17, 17);
    font-weight: 500;
    padding: 0px 30px 0px 0px ;
    display: flex;
    align-items: center;
    
    
}
#middle-nav-dropdown:hover{
    color: #198754;
}



.dropdown-menu{
    --bs-dropdown-link-active-bg:none !important;
    --bs-dropdown-link-hover-bg: none !important;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    margin-top: var(--bs-dropdown-spacer);
    height: auto;
    
    border: none;
    margin-right: 0px;
    box-shadow:  0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* navbar */
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: none;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

/* .dropdown-toggle::after {
    content: none !important;
   
} */


.middle-navbar{
    display: flex;
    display: flex;
    justify-content: space-between;
    
}
/* content */
.contact-content{

    color: rgb(18, 17, 17);
    font-weight: 600;
    padding: 0px 30px 0px 0px ;
}
.contact-content:hover{
    color: #198754;
}
.image-content{
    position: relative;

    padding-left:40px ;
   
    background-repeat: no-repeat;
    background-image: url(./navbar.img/download.png);
}
.contact-number{
    font-size: 15px;
    color: black;
    font-weight: 700;
    
}
.contact-number:hover{
    color: #198754;
}
.call-content{
    padding-left: 20px !important;
}
/* rs */
.amount-content{
    color:rgb(18, 17, 17);
    font-weight: 600;
    font-size: 20px;
    display: flex;
}

.amount-content:hover{
    color: #198754;
}
.shoppingbag{
    font-size: 25px !important;
    color: rgb(32, 28, 28) !important;
    margin-top: 5px;
}
.shoppingbag:hover{
    color: #198754 !important;
}
.number-content{
    padding-left: 15px;
}

.number-two{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: red;
    text-align: center;
}

/* search */
.searchicon{
    font-size: 40px !important;
   
}
.searchicon:hover{
    color: #198754;
}
.search-containt{
    display: flex;
    height: 30px;
    width: 50%;
    visibility: hidden;
}
.navdrop-divider{
    width: 100%;
   } 
    /*home  */

#homeorganic-content{
    color: #A8AEB0;
}
#homeorganic-content:hover{
    color: #198754;
}

.action-home{
    color: #A8AEB0;
  transition-duration: .4s;
  transition-delay: .1s;
    display: flex;
    justify-content: space-between;
}
.action-home:hover{
    color: #198754 !important;
    transform: translate(10px, 0%);

}
.arrowforwardicion{
    font-size: 20px !important;
    padding-top: 7px;
}
.arrowforwardicion:hover{
    color: #198754;
}
.dropdown-item {
    
    width: 100%;
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: none;
    border-radius: var(--bs-dropdown-item-border-radius,0);
}
.single-product{
     color: #A8AEB0;
}
.single-product:hover{
    color: #198754;
}

/* shop */
.card-content{
    width: 50rem;
    
}
.listgroup-content{
    justify-content: space-between;
    display: flex;
}
.card-img{
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
    background-image: url(./navbar.img/banner-menu.webp);
    
}

.shop-item{
    border: none !important;

}
.shop-title{
    font-size: 20px;
    font-weight: 500;
}
.shop-title:hover{
    color: #198754;
   
}
.shop-opction{
    font-size: 15px;
    color: #A8AEB0;
  transition-duration: .4s;
  transition-delay: .1s;
    
}
.shop-opction:hover{
    color: #198754;
    transform: translate(10px, 0%);
}
/* page */

.page-uses{
    padding: 0px ;
    color: #A8AEB0;
      transition-duration: .4s;
  transition-delay: .1s;
}
.page-uses:hover{
    color: #198754;
    transform: translate(10px, 0%);
}
.page-lists{
    width: 12rem;
}
.list-group{
       --bs-list-group-bg: none !important;
    --bs-list-group-border-color: none !important;

}
/* blog */
#blog-title{
      color: #A8AEB0;
    transition-duration: .4s;
    transition-delay: .1s;
}
#blog-title:hover{
    color: #198754;
      transform: translate(10px, 0%);
}
.blog-content{
    color: #A8AEB0;
    transition-duration: .4s;
    transition-delay: .1s;
}
.blog-content:hover{
    color: #198754;
      transform: translate(10px, 0%);
}
.rightside-content{
    display: flex;
}




@media only screen and (max-width: 600px) { 
    .logo-content{
    background-image: url(./navbar.img/logo1.webp) ;
    width: 40%;
    height: 50px;
    background-repeat: no-repeat;
    margin: auto;
 }
 .navbar-content{
  padding-top: 20px !important;
  margin-left:0px;
  width: 40%;
}
.navbar-container{
    flex-direction: row-reverse !important;
}
 #middle-nav-dropdown{
    
    color: rgb(18, 17, 17);
    font-weight: 500;
    padding: 10px 30px 0px 0px ;
     display: flex;
     justify-content: space-between;
    
}
#middle-nav-dropdown:hover{
    color: #198754;
}
.contact-content{

    color: rgb(18, 17, 17);
    font-weight: 600;
    padding: 0px 0px 0px 0px ;
}
.contact-content:hover{
    color: #198754;
}


}

@media only screen and (min-width: 600px) {
    .logo-content{
    background-image: url(./navbar.img/logo1.webp) ;
    width: 40%;
    height: 50px;
    background-repeat: no-repeat;
    margin: auto;
 
}
.navbar-container{
    flex-direction: row-reverse !important;
}
.navbar-content{
  padding: 20px 0px 20px 0px !important;
  margin-left:0px;
  width: 40%;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
}

@media only screen and (min-width: 768px) {
    .navbar-container{
    flex-direction:row-reverse !important;
}
#middle-nav-dropdown{
    
    color: rgb(18, 17, 17);
    font-weight: 500;
    padding: 0px 30px 0px 0px ;
     display: flex;
     justify-content: space-between;
    
}
#middle-nav-dropdown:hover{
    color: #198754;
}
.contact-content{

    color: rgb(18, 17, 17);
    font-weight: 600;
    padding: 0px 0px 0px 0px ;
}
.contact-content:hover{
    color: #198754;
}
}

@media only screen and (min-width: 992px) {
     .navbar-container{
    flex-direction:unset !important;
}
.logo-content{
    background-image: url(./navbar.img/logo1.webp) ;
    width: 20%;
    height: 50px;
    background-repeat: no-repeat;
    
 
}
}

@media only screen and (min-width : 1200px) {}

@media only screen and (min-width : 1366px) {}

@media only screen and (min-width : 1440px) {}

@media only screen and (min-width : 1600px) {}

@media only screen and (min-width : 1920px) {}