 body{ 
    background-color: red;
 }
 .navbar-body{
    flex-direction: row-reverse ;
 }
.logo-content{
    background-image: url(./navbar.img/logo1.webp) ;
    width: 20%;
    height: 50px;
    background-repeat: no-repeat;
    
 
}
.navbar-content{
  padding-top: 20px !important;
  margin: auto;}
.navbar>.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}
#middle-nav-dropdown{
    
    color: rgb(18, 17, 17);
    font-weight: 500;
    padding: 0px 30px 0px 0px ;
    display: flex;
    align-items: center;
    
    
}
#middle-nav-dropdown:hover{
    color: #198754;
}



.dropdown-menu{
    --bs-dropdown-link-active-bg:none !important;
    --bs-dropdown-link-hover-bg: none !important;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    margin-top: var(--bs-dropdown-spacer);
    height: auto;
    
    border: none;
    margin-right: 0px;
    box-shadow:  0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* navbar */
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: none;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

/* .dropdown-toggle::after {
    content: none !important;
   
} */


.middle-navbar{
    display: flex;
    display: flex;
    justify-content: space-between;
    
}
/* content */
.contact-content{

    color: rgb(18, 17, 17);
    font-weight: 600;
    padding: 0px 30px 0px 0px ;
}
.contact-content:hover{
    color: #198754;
}
.image-content{
    position: relative;

    padding-left:40px ;
   
    background-repeat: no-repeat;
    background-image: url(./navbar.img/download.png);
}
.contact-number{
    font-size: 15px;
    color: black;
    font-weight: 700;
    
}
.contact-number:hover{
    color: #198754;
}
.call-content{
    padding-left: 20px !important;
}
/* rs */
.amount-content{
    color:rgb(18, 17, 17);
    font-weight: 600;
    font-size: 20px;
    display: flex;
}

.amount-content:hover{
    color: #198754;
}
.shoppingbag{
    font-size: 32px !important;
    color: rgb(32, 28, 28) !important;
    margin-top: 5px;
}
.shoppingbag:hover{
    color: #198754 !important;
}
.number-content{
    padding-left: 15px;
}
.numbertwo-content{
    left: 10% !important;
}
.number-two{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* search */
.searchbox-content{
    width: 10rem;
}
.searchicon{
    font-size: 40px !important;
   
}
.searchicon:hover{
    color: #198754;
}
.searchicon-bar{
    font-size: 40px !important;
    color: #fff;
}
#search-containt{
    display: flex;
    height: 30px;
    width: 50%;
    visibility: hidden;
}
.search-box{
    display: flex;
    justify-content: end;
    width: 50%;
    padding: 10px 10px 0px 50px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: calc(var(--bs-border-width) * -1);
    border: none;
        border-radius: 0px 30px 30px 0px;
        height: 40px;
    width: 72px;
    background-color: #198754;
}
.form-control{
    border: none !important;
}
.form-control:focus {
    /* color: var(--bs-body-color); */
    background-color: var(--bs-body-bg);
    border: none !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}
.navdrop-divider{
    width: 100%;
   } 
.allcategoties-lists{
    width:15rem;
    height: 400px;
    /* overflow: auto; */
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: end;
    
}



    /*home  */
.middle-content{
    display: flex;
   
}
#homeorganic-content{
    color: #A8AEB0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#homeorganic-content:hover{
    color: #198754;
}

.action-home{
    color: #A8AEB0;
  transition-duration: .4s;
  transition-delay: .1s;
    display: flex;
    justify-content: space-between;
}
.action-home:hover{
    color: #198754 !important;
    transform: translate(10px, 0%);

}
.arrowforwardicion{
    font-size: 20px !important;
    padding-top: 7px;
}
.arrowforwardicion:hover{
    color: #198754;
}
.dropdown-item {
    
    width: 100%;
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: none;
    border-radius: var(--bs-dropdown-item-border-radius,0);
}
.single-product{
     color: #A8AEB0;
}
.single-product:hover{
    color: #198754;
}

/* shop */
.card-content{
    width: 50rem;
    
}
.listgroup-content{
    justify-content: space-between;
    display: flex;
}
.card-img{
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
    background-image: url(./navbar.img/banner-menu.webp);
    
}

.shop-item{
    border: none !important;

}
.shop-title{
    font-size: 20px;
    font-weight: 500;
}
.shop-title:hover{
    color: #198754;
   
}
.shop-opction{
    font-size: 15px;
    color: #A8AEB0;
  transition-duration: .4s;
  transition-delay: .1s;
    
}
.shop-opction:hover{
    color: #198754;
    transform: translate(10px, 0%);
}
/* page */

.page-uses{
    padding: 0px ;
    color: #A8AEB0;
      transition-duration: .4s;
  transition-delay: .1s;
}
.page-uses:hover{
    color: #198754;
    transform: translate(10px, 0%);
}
.page-lists{
    width: 12rem;
}
.list-group{
       --bs-list-group-bg: none !important;
    --bs-list-group-border-color: none !important;

}
/* blog */

#blog-title{
      color: #A8AEB0;
    transition-duration: .4s;   
    transition-delay: .1s;
    display: flex;
    justify-content: space-between;
}
#blog-title:hover{
    color: #198754;
      transform: translate(10px, 0%);
}
.blog-content{
    color: #A8AEB0;
    transition-duration: .4s;
    transition-delay: .1s;
}
.blog-content:hover{
    color: #198754;
      transform: translate(10px, 0%);
}
.rightside-content{
    display: flex;
}

/* bag */

.badge-content {
    --bs-badge-padding-x: 7px !important;
    border-radius: 100% ;
    --bs-badge-padding-y: 3px !important;
    font-size: 15px;
    display: flex;
    height: 20px;
    --bs-badge-font-size: 0.75em;
   
    align-items: center;
}
.bag{
display: flex;
}


@media only screen and (max-width: 600px) { 
    .logo-content{
    background-image: url(./navbar.img/logo1.webp) ;
    width: 40%;
    height: 50px;
    background-repeat: no-repeat;
    margin: auto;
 }
 .navbar-content{
  padding-top: 20px !important;
  margin-left:0px;
  width: 40%;
}
.navbar-container{
    flex-direction: row-reverse !important;
}
 #middle-nav-dropdown{
    
    color: rgb(18, 17, 17);
    font-weight: 500;
    /* padding: 10px 30px 0px 0px ;
     display: flex;
     justify-content: space-between;
     */
}
#middle-nav-dropdown:hover{
    color: #198754;
}
.contact-content{

    color: rgb(18, 17, 17);
    font-weight: 600;
    padding: 0px 0px 0px 0px ;
}
.contact-content:hover{
    color: #198754;
}
.middle-content{
   display: flex;
    flex-direction: column; 
     padding-left: 10px;
}

/* shop */

.listgroup-content{
    justify-content: space-between;
    /* display: flex; */
}
.card-img{
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
    background-image: url(./navbar.img/banner-menu.webp);
    
}

.shop-item{
    border: none !important;

}
.shop-title{
    font-size: 20px;
    font-weight: 500;
}
.shop-title:hover{
    color: #198754;
   
}
.shop-opction{
    font-size: 15px;
    color: #A8AEB0;
  transition-duration: .4s;
  transition-delay: .1s;
    
}
.shop-opction:hover{
    color: #198754;
    transform: translate(10px, 0%);

}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    height: 500px;
    /* width: 20rem !important; */
    align-items: center;
}
.card-content {
    width: 15rem;
}
.card-body {
    flex: 1 1 auto;
    width: 15rem;
    position: revert;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
}
@media only screen and (min-width: 600px) {
    .navbar-body{
    flex-direction: row-reverse;
 }
    .logo-content{
    background-image: url(./navbar.img/logo1.webp) ;
    width: 40% ;
    height: 50px;
    background-repeat: no-repeat;
    margin-right: 20%;
 
}
.navbar-container{
    flex-direction: row-reverse !important;
}
.navbar-content{
  padding: 20px 0px 20px 0px !important;
  margin-left:0px;
  width: 40%;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
}

@media only screen and (min-width: 768px) {

      .navbar-body{
    flex-direction: row-reverse;
 }
    .navbar-container{
    flex-direction:row-reverse !important;
}
.middle-content{
    display: flex;
    flex-direction: column;
     padding-left: 10px;
}
#middle-nav-dropdown{
    
    color: rgb(18, 17, 17);
    font-weight: 500;
    padding: 0px 30px 0px 0px ;
     display: flex;
     justify-content: space-between;
    
}
#middle-nav-dropdown:hover{
    color: #198754;
}
.contact-content{

    color: rgb(18, 17, 17);
    font-weight: 600;
    padding: 0px 0px 0px 0px ;
}
.contact-content:hover{
    color: #198754;
}
}

@media only screen and (min-width: 992px) {
     .navbar-container{
    flex-direction:unset !important;
}
.logo-content{
    background-image: url(./navbar.img/logo1.webp) ;
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
        margin: auto;  
}
.navbar-content{
  padding: 20px 0px 20px 0px !important;
  margin-left:0px;
  width: 100%;
  /* display: flex;
  justify-content: space-between; */
}
.middle-content{
    display: flex;
    flex-direction: row;
     padding-top: 10px;
    padding-left: 3rem;
}
.card-content {
    width: 40rem;
}
 .navbar-body{
    flex-direction: none ;
 }
}

@media only screen and (min-width : 1200px) {
     .navbar-body{
    flex-direction: inherit;
 }
    .logo-content{
    background-image: url(./navbar.img/logo1.webp) ;
    width: 10%;
    height: 50px;
    background-repeat: no-repeat;
    margin: auto;
}
.middle-content{
    display: flex;
    flex-direction: row;
     padding-left: 10px;
     padding-left: 10rem;
}
.search-box {
    display: flex;
    justify-content: end;
    width: 50%;
    padding-top: 10px;
    padding-right: 4rem;
}
}

@media only screen and (min-width : 1366px) {}

@media only screen and (min-width : 1440px) {}

@media only screen and (min-width : 1600px) {}

@media only screen and (min-width : 1920px) {}
.badge-content {
    --bs-badge-padding-x: 0.35em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    bottom: 10% !important;
}