.rightside-navbar{
  padding:0px 10px 0px 10px!important;
   margin: auto;
   background-color: #253237;
   justify-content: space-between !important;
   display: flex;

}
.rightside-title{
    color: #fff !important;
    font-size: 15px !important;
}

.leftside-lables{
    color: #fff !important;
   
}
.leftside-lables:hover{
    color: #0ac8c6 !important;
}

.uroicon{
    font-size: 15px !important; 
}


.hearticon{
    color: white;
    font-size: 20px !important;
    padding-right: 5px !important;
}
.hearticon:hover{
    color: #0ac8c6;
}
.ShuffleIcon{
    color: #fff;
    font-size: 20px !important;
    padding-right: 5px !important;
}
.ShuffleIcon:hover{
    color: #0ac8c6;
}

#dropdown-content{
    color: white ;
}
#dropdown-content:hover{
    color: #0ac8c6;
    
}
.navdropdown-content{
    font-size: 10px;
}
.dropdown-content{
    width: 50%;
}

@media only screen and (max-width: 600px) {
   .rightside-navbar{
   background-color: #253237;
   justify-content: center !important;
   display: flex;
}
.left-side{
    visibility: hidden;
}
}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 600px) {
       .rightside-navbar{
   background-color: #253237;
   justify-content: center !important;
   display: flex;
}
.left-side{
    visibility: hidden;
}
}

@media only screen and (min-width: 768px) {
 
}

@media only screen and (min-width: 992px) {
       .rightside-navbar{
  padding:0px 10px 0px 10px!important;
   margin: auto;
   background-color: #253237;
   justify-content: space-between !important;
   display: flex;
}
.left-side{
    visibility: inherit;
}
}

@media only screen and (min-width : 1200px) {}

@media only screen and (min-width : 1366px) {}

@media only screen and (min-width : 1440px) {}

@media only screen and (min-width : 1600px) {}

@media only screen and (min-width : 1920px) {}