 
.logo-content{
    background-image: url(./image/logo1.webp) ;
    width: 20%;
    height: 50px;
    background-repeat: no-repeat;
    
 
}
.navbar-content{
  padding-top: 20px !important;
  margin: auto;
}
#middle-nav-dropdown{
    
    color: rgb(18, 17, 17);
    font-weight: 500;
    padding: 0px 30px 0px 0px ;
       
}
#middle-nav-dropdown:hover{
    color: #198754;
}
.contact-content{

    color: rgb(18, 17, 17);
    font-weight: 500;
    padding: 0px 30px 0px 0px ;
}
.contact-content:hover{
    color: #198754;
}
.image-content{
    position: relative;

    padding-left:40px ;
   
    background-repeat: no-repeat;
    background-image: url(./image/download.png);
}
.contact-number{
    font-size: 15px;
    color: black;
    font-weight: 700;
    
}
.contact-number:hover{
    color: #198754;
}
.call-content{
    padding-left: 20px !important;
}
.amount-content{
    color:rgb(18, 17, 17);
    font-weight: 600;
    font-size: 25px;
}
.shoppingbag:hover{
    color: #198754 !important;
}
.amount-content:hover{
    color: #198754;
}
.shoppingbag{
    font-size: 25px !important;
    color: rgb(32, 28, 28) !important;
    
}
.searchicon{
    font-size: 40px !important;
   
}
.searchicon:hover{
    color: #198754;
}
.search-containt{
    display: flex;
    height: 30px;
    visibility: hidden;
}
.navdrop-divider{
    width: 80%;
    margin: auto;
    
}
.action-home{
    color: black;
}
.action-home:hover{
    color: #198754 !important;
}
.arrowforwardicion{
    font-size: 15px !important;
}
.arrowforwardicion:hover{
    color: #198754;
}











@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width : 1200px) {}

@media only screen and (min-width : 1366px) {}

@media only screen and (min-width : 1440px) {}

@media only screen and (min-width : 1600px) {}

@media only screen and (min-width : 1920px) {}